node_modules
.DS_Store
coverage
*.log
.eslintcache
dist
dist-ssr
*.local
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json

terraform/backend.hcl
terraform/network/backend.hcl
terraform/**/.terraform/
terraform/bootstrap/terraform.tfstate
terraform/bootstrap/terraform.tfstate.backup

/generated/prisma
